@model IEnumerable<R_Azure_backoffice.Models.MvcVolModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a href="@Url.Action("AddOrEdit","back")" class="btn btn-default"><i class="fa fa-plus"></i>Create New</a>

</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.nom_vol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aero_depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aero_arriv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_depart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_arriv)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
 
            <td>
                @Html.DisplayFor(modelItem => item.nom_vol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aero_depart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aero_arriv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_depart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_arriv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
